.dropdown__container {
  position: absolute;
  left: 0;
  top: 40px;
  text-align: center;
  width: 100%;
  display: none;
}

#toggle {
  display: none;
}

#toggle:checked + .dropdown__container {
  display: block;
}

@media only screen and (min-width: 768px) {
  .dropdown__container {
    position: absolute;
    top: 60px;
    text-align: center;
    width: 320px;
  }
}

@media only screen and (min-width: 1366px) {
  .dropdown__container {
    position: static;
    display: block;
    width: 100%;
    margin: 12px 0px 0px 0px;
  }
}
