.button {
  font-family: 'circe';
  text-transform: uppercase;
  background-color: #f50049;
  color: #ffffff;
  cursor: pointer;
  height: 50px;
  width: 225px;
  border-radius: 30px;
  border: none;
}

.button.button--form {
  align-self: center;
  text-transform: none;
  font-size: 18px;
  letter-spacing: 0.5px;
  width: 180px;
  margin-top: 20px;
}

.button:hover {
  box-shadow: 0 3px 6px #f50049;
}
