.description {
  font-family: 'Circe normal';
  font-size: 14px;
  line-height: 16px;
}

@media only screen and (min-width: 1366px) {
  .description {
    font-size: 20px;
    line-height: 16px;
  }
}
