.footer-section {
  font-family: 'Roboto', sans-serif;
  background-color: #898989;
  justify-content: flex-end;
}

.footer__body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.footer__logo-container {
  padding-top: 42px;
}
.footer__navigation {
  padding-top: 25px;

}

.footer__phone-number-container {
  padding-top: 13px;
}

.footer__icons-container {
  letter-spacing: 6px;
  padding-top: 28px;
  padding-bottom: 29px;
}

.footer__item-line {
  height: 1px;
  background-color: #959595;
  width: 100%;
  margin: 0px;
  border: none;
}

.footer__copyright {
  padding: 10px 0px;
}


@media only screen and (min-width: 768px) {

  .footer__body {
    flex-direction: row;
    padding: 0px 20px 10px 20px;
    align-items: baseline;
  }

  .footer__logo-container {
    order: 1;
    padding-top: 34px;
  }

  .footer__navigation {
    padding: 0px 0px 0px 60px;
    order: 2;
    flex-grow: 1;
  }

  .footer__item-line {
    order: 3;
    margin: 35px 46px 14px 46px;
  }

  .footer__phone-number-container {
    display: none;
  }

  .footer__copyright {
    order: 4;
    flex-grow: 1;
    align-self: center;
    padding: 0px 30px 0px 0px;
  }

  .footer__icons-container {
    order: 5;
    flex-grow: 1;
    padding: 0px;
  }

}

@media only screen and (min-width: 1366px) {
  .footer-section {
    display: flex;
    justify-content: center;
    background-color: #e8e8e8;
  }

  .footer__body {
    padding: 35px 75px 20px 75px;
    align-items: baseline;
  }

  .footer__logo-container {
    order: 1;
    padding: 0px;
  }

  .footer__navigation {
    order: 2;
    padding: 0px;
    align-self: center;
    padding: 0px 160px;
  }

  .footer__icons-container {
    order: 3;
    flex-grow: unset;
    padding: 0px 0px 0px 0px;
  }

  .footer__item-line {
    order: 4;
    background-color: #d0d0d0;
    margin: 47px 0px 0px 0px;
  }

  .footer__copyright {
    order: 5;
    align-self: center;
    padding: 18px 0px 0px 0px;
    color: rgba(0, 0, 0, 0.425);
  }

}
