.footer {
  font-family: 'Roboto', sans-serif;
  background-color: #898989;
  justify-content: flex-end;
}

.footer__body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: 0px 20px;
}

.footer__logo-container {
  margin-top: 40px;
}

.footer__phone-number-container {
  margin: 0px 0px 27px 0px;
}

.footer__icons-container {
  font-size: 23px;
  width: flex;
  letter-spacing: 6px;
  margin-bottom: 28px;
}

.footer__item-line {
  height: 1px;
  background-color: #959595;
  width: 100%;
  margin: 0px;
  border: none;
}

.footer__copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.452);
  word-spacing: 2px;
  margin: 10px 0px;
}


@media only screen and (min-width: 768px) {

  .footer__body {
    display: flex;
    flex-direction: row;

    flex: 1 1 auto;
    margin: 0px 0px 0px 0px;
  }

  .footer__logo-container {
    order: 1;
    margin: 32px 50px 34px 20px;
  }

  .footer__item-line {
    order: 3;
    margin: 0px 66px 14px 66px;
  }

  .footer__phone-number-container {
    display: none;
  }

  .footer__copyright {
    order: 4;
    flex-basis: 47%;
    flex-grow: 0;
    align-self: center;
    margin: auto;
    margin-bottom: 19px;
    text-align: right;
  }

  .footer__icons-container {
    order: 5;
    flex-basis: 45%;
    flex-grow: 0;
    align-self: center;
    margin: auto;
    margin-bottom: 13px;
  }

}

@media only screen and (min-width: 1366px) {

  .footer {
    background-color: #e8e8e8;
  }

  .footer__body {
    margin: 0px 73px;
  }

  .footer__logo-container {
    order: 1;
    margin: 30px 0px 37px 0px;
  }

  .footer__icons-container {
    order: 3;
    flex-basis: auto;
    text-align: right;
    margin: 47px 3px auto auto;
  }

  .footer__item-line {
    order: 4;
    background-color: #d0d0d0;
    margin: 0px;
  }

  .footer__copyright {
    flex-basis: 100%;
    order: 5;
    align-self: center;
    text-align: center;
    margin: 19px;
    color: rgba(0, 0, 0, 0.425);
  }

}
