.footer {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #898989;
    justify-content: flex-end;
}
.footer__body {
    flex: 1 1 auto;
    margin: 0px 20px;
}

.footer__logo-container {
    margin-top: 40px;
    width: 81px;
}
.logo {
    flex: 1 1 auto;
    color: #ffffff;
    font-family: none;
    font-size: 28px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: 43.87px;
    text-align: left;
    font-style: normal;
    letter-spacing: 1.4px;
    line-height: normal;
}
.footer__navigation-list {
    margin-top: 20px;
}
.navigation-list {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 157px;
    height: 190px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.list__item {
    list-style-type: none; 
    flex: 1 1 auto; 
    align-items: baseline;          
}
.list__link {
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}
.footer__phone-number {
    margin: 2px 0px 27px 0px;
}
.footer__icons {
    font-size: 23px;
    width: flex;
    letter-spacing: 6px;
    margin-bottom: 28px;
}
.footer__item-line {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.452);
    border: none;
    margin: 0;
}
.footer__copyright {
    font-family: 'Roboto', sans-serif; 
    font-size: 0.7em;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.452);
    word-spacing: 2px;
    margin: 10px 0px;
}


@media only screen and (min-width: 768px) {
    

}