.grid__block-one {
  grid-area: classic;
  background: url('../images/classic.png') no-repeat;
  background-position: left -4px top -62px;
}

.grid__block-two {
  grid-area: mus;
  background: url('../images/mus.png') no-repeat;
  background-position: left -82px top -90px;
}

.grid__block-three {
  grid-area: wedding;
  background: url('../images/for-wedding.png') no-repeat;
  background-position: left -22px top -25px;
}

.grid__block-four {
  grid-area: for-men;
  background: url('../images/for-men.png') no-repeat;
  background-position: left -4px top -52px;
}

.grid__block-five {
  grid-area: for-women;
  background: url('../images/for-women.png') no-repeat;
  background-position: left -97px top -49px;
}

.grid__block-six {
  grid-area: for-kids;
  background: url('../images/for-kids.png') no-repeat;
  background-position: left -5px top -50px;
}

.grid {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: repeat(6, 120px);
  grid-template-areas:
    "classic"
    "mus"
    "wedding"
    "for-men"
    "for-women"
    "for-kids";
  grid-row-gap: 10px;
  padding: 33px 0px;
}

@media only screen and (min-width: 768px) {
  .grid {
    padding: 40px 0px;
    grid-template-columns: 2.56fr 1fr 2.56fr;
    grid-template-rows: repeat(4, 184px);
    grid-template-areas:
    "classic classic mus"
    "classic classic wedding"
    "for-men for-kids for-kids"
    "for-women for-kids for-kids";
    grid-gap: 20px;
  }

  .grid__block-one {
    display: flex;
    background: url('../images/classic__tablet.png') no-repeat;
  }

  .grid__block-two {
    background: url('../images/mus__tablet.png') no-repeat;
  }

  .grid__block-three {
    background: url('../images/for-wedding__tablet.png') no-repeat;
  }

  .grid__block-four {
    background: url('../images/for-men__tablet.png') no-repeat;
  }

  .grid__block-five {
    background: url('../images/for-women__tablet.png') no-repeat;
  }

  .grid__block-six {
    background: url('../images/for-kids__tablet.png') no-repeat;
  }
}

@media only screen and (min-width: 1366px) {
  .grid {
    padding: 66px 0px;
    grid-template-columns: 2.63fr 0.92fr 2.63fr;
    grid-template-rows: repeat(4, 306px);
    grid-gap: 42px;
  }

  .grid__block-one {
    display: flex;
    background: url('../images/classic__desktop.png') no-repeat;
  }

  .grid__block-two {
    background: url('../images/mus__desktop.png') no-repeat;
  }

  .grid__block-three {
    background: url('../images/for-wedding__desktop.png') no-repeat;
  }

  .grid__block-four {
    background: url('../images/for-men__desktop.png') no-repeat;
  }

  .grid__block-five {
    background: url('../images/for-women__desktop.png') no-repeat;
  }

  .grid__block-six {
    background: url('../images/for-kids__desktop.png') no-repeat;
  }
}
