.grid__block-name {
  font-family: 'circe';
  font-size: 14px;
}

.grid__block-link {
  font-family: 'circe';
  font-size: 10px;
  text-decoration: none;
  color: #6c6869;
}

.grid__block-recommendation {
  font-family: 'circe';
  font-size: 12px;
  display: none;
}

.grid__block-link__arrow {
  display: none;
}

@media only screen and (min-width: 768px) {
  .grid__block-recommendation {
    display: block;
    place-self: end;
  }

  .grid__block-link {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1366px) {
  .grid__block-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    place-self: start;
    font-size: 24px;
  }

  .grid__block-link {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 20px;
    color: #6c6869;
  }

  .grid__block-recommendation {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: 20px;
  }

  .grid__block-link__arrow {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    place-self: end;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: #6c6869;
  }

  .grid__block-link__arrow:hover {
    color: #a66d7e;
  }
}
