.guest-data {
  background-color: rgb(251, 235, 234);
}

@media only screen and (min-width: 768px) {
  .guest-data {
    background: url('../images/plate-with-strawbery__own.png') no-repeat;
    background-position: right -145px top 320px;
    background-size: 600px 270px;
    background-color: rgb(251, 235, 234);
    height: 100%;
    margin: auto;
  }

}

@media only screen and (min-width: 1366px) {
  .guest-data {
    background-size: 940px 415px;
    background-position: left 485px top 425px;
    width: 100%;
  }
}
