.headline {
  font-family: 'Playfair Display', serif;
  color: #2d2829;
  font-size: 25px;
}

.headline.headline--white {
  text-align: center;
  color: white;
  font-size: 24px;
  letter-spacing: 0.5px;
}

@media only screen and (min-width: 768px) {
  .headline {
    font-size: 28px;
  }

  .headline.headline--white {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1366px) {
  .headline {
    font-size: 40px;
    letter-spacing: 0.2px;
  }

  .headline.headline--white {
    font-size: 37px;
    letter-spacing: 1.7px;
  }
}
