.headline {
  font-family: 'Playfair Display', serif;
  color: #2d2829;
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  .headline {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1366px) {
  .headline {
    font-size: 40px;
    letter-spacing: 0.2px;
  }
}
