.header__body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  padding: 9px 23px 8px 20px;
}

.header__dropdown {
  flex-grow: 1;
  text-align: right;
}

.header__phone-number-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header__body {
    padding: 11px 46px 9px 46px;
  }
  .header__logo-container {
    padding-top: 7px;
  }

  .header__dropdown {
    padding-left: 25px;
  }

  .header__phone-number-container {
    display: block;
    padding: 12px 0px 0px 0px;
  }
}

@media only screen and (min-width: 1366px) {
  .header__body {
    padding: 55px 73px 0px 73px;
    background-color: rgb(251, 235, 234);
  }

  .header__dropdown {
    flex-grow: 1;
    padding: 0px 200px 0px 45px;
  }

  .header__phone-number-container {
    text-align: right;
    padding: 12px 0px 0px 0px;
  }
}
