.header__body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 20px;
  height: 40px;
}

.header__phone-number-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header__body {
    padding: 0px 45px;
    height: 60px;
  }

  .header__dropdown {
    flex-grow: 1;
    padding-left: 25px;
  }

  .header__phone-number-container {
    display: block;
  }
}

@media only screen and (min-width: 1366px) {
  .header {
    display: flex;
    justify-content: center;
  }

  .header__body {
    align-items: flex-end;
    height: 85px;
    background-color: rgb(251, 235, 234);
  }

  .header__logo-container {
    padding-right: 45px;
  }

  .header__dropdown {
    flex-grow: 1;
    padding: 0px;
  }

  .header__phone-number-container {
    text-align: right;
    padding-left: 250px;
  }
}
