.how-to-order {
  display: flex;
  justify-content: center;
  background-color: #e1323a;
}

.how-to-order__container {
  background: url('../images/box-with-hands__own.png') no-repeat;
  background-position: center top 315px;
}

@media only screen and (min-width: 768px) {
  .how-to-order {
    justify-content: space-around;
    background-color: #e1323a;
  }

  .how-to-order__container {
    background: url('../images/box-with-hands__own__tablet.png') no-repeat;
    background-position: -310px -10px;
  }

}

@media only screen and (min-width: 1366px) {
  .how-to-order__container {
    background: url('../images/box-with-hands__own__dispaly.png') no-repeat;
    background-position: left -220px top -43px;
  }
}
