.social-media-icon::before {
  font-family: 'icons' !important;
  font-size: 23px;
  color: rgba(255, 255, 255, 0.452);
}

.social-media-icon::before:hover {
  color: #ffffff;
}

.icons-box__dignity-icon::before {
  flex-basis: 20%;
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: 100;
  font-variant: normal;
  font-size: 32px;
  text-transform: none;
  text-decoration: none;
  line-height: 1;
  color: #f5074e;
}

@media only screen and (min-width: 1366px) {

.social-media-icon::before  {
    color: rgba(0, 0, 0, 0.425);
  }

}
