.social-media-icon::before {
  font-family: 'icons' !important;
  font-size: 23px;
  color: rgba(255, 255, 255, 0.452);
}

.social-media-icon:hover::before {
  color: #ffffff;
}

.social-media-icon--red{
  margin-left: 30px;
}

.social-media-icon--red._icon-instagram {
  margin-left: 0px;
}

.social-media-icon--red::before {
  font-size: 32px;
  color: #f5074e;
  padding: 15px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
}

.social-media-icon--red:hover::before {
  box-shadow: 0 0 5px #f5074e;
  color: #f5074e;
}

._icon-cereal:before {
  font-weight: 700;
}

@media only screen and (min-width: 1366px) {

.social-media-icon::before  {
    color: rgba(0, 0, 0, 0.425);
  }

  .social-media-icon--red::before {
    color: #f5074e;
  }

}
