.input-style {
  border: none;
  border-radius: 3px;
  padding: 0px 10px;
}
.input-style::placeholder {
  font-family: 'Circe normal';
  font-size: 14px;
  opacity: 0.3;
}

.input-style:focus {
  box-shadow: 0 0 10px #f50049;
}

@media only screen and (min-width: 1366px) {
  .input-style {
    border-bottom: 1px solid #d3d3d3;
    background-color: #fbebea;
    padding: 0px;
  }
}
