.instruction-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  color: white;
}

.instruction-container__head {
  font-family: 'Circe normal';
  font-size: 15px;
  padding-bottom: 8px;
}

.instruction-container__text {
  font-family: 'circe';
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .instruction-container {
    padding-left: 23px;
  }
}

@media only screen and (min-width: 1366px) {
  .instruction-container {
    padding-left: 20px;
  }

  .instruction-container__head {
    font-size: 20px;
    letter-spacing: 0.7px;
    padding: 7px 0px 0px 0px;
  }

  .instruction-container__text {
    font-family: 'circe';
    font-size: 20px;
    padding: 10px 0px 0px 0px;
  }
}
