.main {
  display: flex;
  flex-direction: column;
  background: url('../images/home-cake.png') no-repeat;
  background-position: center top -210px;
  background-color: rgb(251, 235, 234);
  height: 100%;
  width: 100%;
}

.main-title {
  font-family: 'Playfair Display', serif;
  color: rgb(45, 40, 41);
  text-align: center;
  font-size: 41px;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 0.9;
  margin: 127px 0px 0px 0px;
}

.main-handmade {
  font-family: 'introScriptR-H2Base';
  text-align: center;
  color: rgb(50, 49, 61);
  font-size: 22px;
  margin: 22px 0px 0px 0px;
  padding-right: 6px;
}

.main-list {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
}

.main-button {
  align-self: center;
  font-family: 'circe';
  text-transform: uppercase;
  background-color: #f50049;
  color: #ffffff;
  cursor: pointer;
  height: 50px;
  width: 225px;
  border-radius: 30px;
  border: none;
  margin: 31px 0px 10px 0px;
}

.main-button:hover {
  box-shadow: 0 3px 6px #f50049;
}
