.phone-number {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.phone-number.phone-number--top {
  color: black;
}

@media only screen and (min-width: 768px) {
  .phone-number.phone-number--top {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.3px;
  }

}

@media only screen and (min-width: 1366px) {
  .phone-number.phone-number--top {
    font-size: 14px;
    letter-spacing: 0.27px;
  }
}
