.present-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 110px;
  position: relative;
  overflow: hidden;
}
.present-box__hands {
  position: absolute;
  height: 150%;
  margin: auto;
  top: 5px;
  z-index: 1;
}

.present-box__card {
  position: relative;
  top: -12px;
  left: 23px;
  height: 35%;
  margin: auto;
  z-index: 2;
}

.present-box__logo {
  position: relative;
  top: -80px;
  left: 23px;
  height: 30%;
  margin: auto;
  z-index: 3;
}
