.feedback-section__body {
  display: flex;
  flex-direction: column;
}

.feedback-section__body-title {
  align-self: center;
  padding-top: 35px;
}

.feedback-section__body-caption {
  padding-top: 15px;
}

.feedback-section__body-phone-number,
.feedback-section__body-email,
.feedback-section__body-icons {
  font-family: 'Circe normal';
  font-size: 14px;
  line-height: 16px;
}

.feedback-section__body-phone-number {
  padding-top: 30px;
}

.feedback-section__body-email {
  padding-top: 16px;
}

.feedback-section__body-icons {
  padding: 17px 0px 65px 0px;
}

.feedback-section__body-icons-head {
  padding-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .feedback-section__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: url('../../images/plate-with-strawbery__own.png') no-repeat;
    background-position: right -145px top 320px;
    background-size: 600px 270px;
  }

  .feedback-section__body-title {
    width: 100%;
    padding-top: 45px;
  }

  .feedback-section__body-caption {
    width: 100%;
    padding-top: 10px;
  }

  .feedback-section__body-contacts {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 18px 0px 0px 75px;
  }

  .feedback-section__body-phone-number {
    padding: 0px;
  }

  .feedback-section__body-icons-head {
    padding-bottom: 38px;
  }
}

@media only screen and (min-width: 1366px) {
  .feedback-section {
    display: flex;
    justify-content: center;
  }

  .feedback-section__body {
    justify-content: flex-start;
    background-size: 940px 415px;
    background-position: left 485px top 425px;
    padding-bottom: 188px;
  }

  .feedback-section__body-title {
    width: 62%;
    padding-top: 75px;
  }

  .feedback-section__body-caption {
    width: 70%;
    padding-top: 37px;
  }

  .feedback-section__body-contacts {
    padding: 22px 0px 0px 80px;
  }

  .feedback-section__body-phone-number,
  .feedback-section__body-email,
  .feedback-section__body-icons {
    font-size: 20px;
    line-height: 16px;
  }

  .feedback-section__body-phone-number {
    padding: 0px;
  }

  .feedback-section__body-email {
    padding-top: 35px;
  }

  .feedback-section__body-icons {
    padding-top: 30px;
  }

  .feedback-section__body-icons-head {
    padding-bottom: 38px;
  }
}
