.feedback-box {
  display: flex;
  flex-direction: column;
  padding-top: 7px;
}

.feedback-box__name,
.feedback-box__mail,
.feedback-box__question {
  border: none;
  border-radius: 3px;
  padding: 0px 10px;
}

.feedback-box__name::placeholder,
.feedback-box__mail::placeholder,
.feedback-box__question::placeholder {
  font-family: 'Circe normal';
  font-size: 14px;
  opacity: 0.3;
}

.feedback-box__name:focus,
.feedback-box__mail:focus,
.feedback-box__question:focus {
  box-shadow: 0 3px 6px #f50049;
}

.feedback-box__name {
  height: 50px;
  margin-top: 8px;
}

.feedback-box__mail {
  height: 50px;
  margin-top: 10px;
}

.feedback-box__question {
  resize: none;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .feedback-box {
    width: 50%;
    padding-top: 17px;
    padding-bottom: 110px;
  }

  .feedback-box__name {
    margin-top: 14px;
  }
}

@media only screen and (min-width: 1366px) {
  .feedback-box {
    width: 36%;
    padding-top: 22px;
    padding-bottom: 110px;
  }

  .feedback-box__name,
  .feedback-box__mail,
  .feedback-box__question {
    border-bottom: 1px solid #d3d3d3;
    background-color: #fbebea;
    padding: 0px;
  }

  .feedback-box__name {
    height: 20px;
    margin-top: 50px;
  }

  .feedback-box__mail {
    height: 20px;
    margin-top: 40px;
  }

  .input-style.feedback-box__question {
    resize: none;
    height: 20px;
    margin-top: 40px;
    padding: 0px;
  }
}
