.order-instruction {
  display: flex;
  flex-direction: column;
  max-width: 331px;
  margin: auto;
  list-style-type: decimal;
  counter-reset: ol-counter;
}

.order-instruction__item {
  display: flex;
  padding-bottom: 30px;
  list-style: none;
}

.order-instruction__item::before {
  counter-increment: ol-counter;
  content: counter(ol-counter);
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  margin-top: -13px;
  color: white;
}

.order-instruction__item:last-of-type {
  padding-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .order-instruction {
    max-width: 396px;
  }

  .order-instruction__item {
    padding-bottom: 43px;
  }

  .order-instruction__item:first-of-type {
    padding-left: 5px;
  }
}

@media only screen and (min-width: 1366px) {
  .order-instruction {
    max-width: 475px;
  }

  .order-instruction__item {
    padding-bottom: 24px;
  }

  .order-instruction__item::before {
    font-size: 60px;
  }
}
