.order-section {
  background-color: #e1323a;
}

.order-section__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url('../../images/box-with-hands__own.png') no-repeat;
  background-position: center top 315px;
}

.order-section__body-title {
  padding-top: 33px;
}

.order-section__body-list {
  padding: 37px 0px 147px 20px;
}

@media only screen and (min-width: 768px) {
  .order-section__body {
    align-items: center;
    justify-content: space-around;
    background: url('../../images/box-with-hands__own__tablet.png') no-repeat;
    background-position: -310px -10px;
    padding-left: 280px;
  }

  .order-section__body-title {
    padding: 49px 211px 0px 0px;
  }

  .order-section__body-list {
    padding: 37px 0px 67px 0px;
  }
}

@media only screen and (min-width: 1366px) {
  .order-section {
    display: flex;
    justify-content: center;
  }

  .order-section__body {
    align-items: flex-end;
    background: url('../../images/box-with-hands__own__dispaly.png') no-repeat;
    background-position: left -220px top -43px;
    width: 100%;
  }

  .order-section__body-title {
    padding: 123px 210px 0px 0px;
  }

  .order-section__body-list {
    padding: 40px 0px 184px 0px;
  }
}
