.cake-list__item {
  place-self: stretch;
}

.cake-list__item:nth-child(1) {
  grid-area: item-1-big;
}

.cake-list__item:nth-child(2) {
  grid-area: item-2-simple;
}

.cake-list__item:nth-child(3) {
  grid-area: item-3-simple;
}

.cake-list__item:nth-child(4) {
  grid-area: item-4-simple;
}

.cake-list__item:nth-child(5) {
  grid-area: item-5-simple;
}

.cake-list__item:nth-child(6) {
  grid-area: item-6-big;
}

.cake-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 120px);
  grid-template-areas:
    "item-1-big"
    "item-2-simple"
    "item-3-simple"
    "item-4-simple"
    "item-5-simple"
    "item-6-big";
  grid-row-gap: 10px;
  padding: 33px 0px;
}

@media only screen and (min-width: 768px) {
  .cake-list {
    padding: 40px 0px;
    grid-template-columns: 2.56fr 1fr 2.56fr;
    grid-template-rows: repeat(4, 184px);
    grid-template-areas:
    "item-1-big item-1-big item-2-simple"
    "item-1-big item-1-big item-3-simple"
    "item-4-simple item-6-big item-6-big"
    "item-5-simple item-6-big item-6-big";
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 1366px) {
  .cake-list {
    padding: 66px 0px;
    grid-template-columns: 2.63fr 0.92fr 2.63fr;
    grid-template-rows: repeat(4, 306px);
    grid-gap: 42px;
  }
}
