@font-face {
  font-family: circe;
  src: url('./CRC35.otf') format("opentype");
}

@font-face {
  font-family: circe;
  src: url('./CRC35.otf') format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: Circe normal;
  src: url('./CRC55.otf') format("opentype");
}

@font-face {
  font-family: Circe normal;
  src: url('./CRC55.otf') format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: Circe Bold;
  src: url('./CRC65.otf') format("opentype");
}

@font-face {
  font-family: Circe Bold;
  src: url('./CRC65.otf') format("opentype");
  font-weight: bold;
}


