.main-section__list-item {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

.main-section__list-item:first-of-type {
  padding-top: 0px;
}

.main-section__list-text {
  font-family: 'circe';
  font-size: 14px;
  letter-spacing: 0.1px;
  padding-left: 10px;
}

@media only screen and (min-width: 768px) {
  .main-section__list-item {
    padding: 0px;
    align-items: center;
    width: 220px;
  }
}

@media only screen and (min-width: 1366px) {
  .main-section__list-item {
    width: 230px;
  }

  .main-section__list-text {
    padding-left: 18px;
  }
}
